.input {
  --background-color: rgb(238, 238, 238);
  --border-color: var(--background-color);
  font: inherit;
  min-height: 2.428571429em;
  padding: 0.5em 0.8em;
  line-height: 1.428571429;
  vertical-align: middle;
  background-repeat: no-repeat;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  font-size: 1rem;
  background-color: var(--background-color);
  width: 100%;

  &:focus {
    --border-color: var(--accent-color);
  }
}
