.pm-thumbnail {
  height: 10rem;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow: hidden;
}

@keyframes spreadOut {
  0% {
    letter-spacing: 0;
    opacity: 0;
  }

  7% {
    opacity: 1;
  }

  100% {
    letter-spacing: 0.3rem;
  }
}

.pm-thumbnail__label {
  --skew: -15deg;
  color: #ffffff;
  font-size: 2em;
  text-shadow: 1px 1px black;
  letter-spacing: 0.3rem;
  font-weight: bold;
  animation: 10s ease-out spreadOut;
  will-change: letter-spacing, font-size;
  white-space: pre;
  text-align: center;
}
