.btm-thumbnail {
  height: 10rem;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  padding: 2rem;
  display: flex;
  user-select: none;
  overflow: hidden;
}

@keyframes slidein {
  0% {
    transform: translateX(-10%) skewX(-10deg) rotate(-10deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateX(0%) skewX(-15deg) rotate(-15deg);
  }
}

.btm-thumbnail__label {
  --skew: -15deg;
  color: #ffffff;
  font-size: 2em;
  text-shadow: 1px 1px black;
  transform: skewX(var(--skew)) rotate(var(--skew));
  font-weight: bold;
  animation: 10s ease-out slidein;
  will-change: transform;
}
